<div *ngIf="tool === ''">
  <div class="row">
    <div class="col-md-5 mb-4">
      <h6 class="mb-3">
        <button (click)="seleziona('crea')"  class='button' >Esplora i dati nel database</button> 
      </h6>
      <p>Con semplici operazioni 'point and click' visualizza su una mappa il contenuto del database</p>
    </div>

    <div class="col-md"></div>

    <div class="col-md-5 mb-4">
      <h6 class="mb-3">  
        <button (click)="seleziona('colleziona')"  class='button' >Crea un file GeoJSON selezionando punti su una mappa</button> 
      </h6>
      <p>Con operazioni 'point and click' sulla mappa si collezionano punti che possono essere salvati su un file locale. I file possono essere manipolati con QGis ed altri strumenti che consentano di importare file GeoJSON</p>
    </div>
   
  </div>

  <div class="row">
    <div class="col-md-5 mb-4">
      <h6 class="mb-3">
        <button (click)="seleziona('carica')"  class='button' >Gestione del database</button> 
      </h6>
      <p>Consente di operare sul database con operazioni semplici su gruppi di features GeoJSON contenute in file locali</p>
    </div>

    
  </div>
  
</div>

<app-crea *ngIf="tool === 'crea'"> </app-crea>
<app-colleziona *ngIf="tool === 'colleziona'"> </app-colleziona>
<app-carica *ngIf="tool === 'carica'"> </app-carica>

<app-close-tool (toolClosed)="seleziona('')" *ngIf="tool !== ''"> </app-close-tool>
