.button {
  background-color: #0c6;
  border: none;
  color: #222;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 4px;
  cursor: pointer;
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 16px;
}

.button:hover {
  background-color: #6f6;
}
