.button {
  background-color: #0f0;
  border: none;
  color: #222;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
  background-color: #6f6;
}
