<div class="navbar-nav mr-auto" *ngIf="auth.isAuthenticated$ | async">
    <img
    class="mb-3 app-logo"
    src="{{ heroLogo }}"
    alt="Angular logo"
    width="50"
    style="margin-right: 40px"
    />
  <div class="nav-item">
    <a
      routerLink="/"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </a>
  </div>
  <div class="nav-item" >
    <a
      routerLink="/profile"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
    >
      Profile
    </a>
  </div>
<!--  <div class="nav-item" *ngIf="auth.isAuthenticated$ | async">
    <a
      routerLink="/external-api"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
    >
      External API
    </a>
  </div>
-->
</div>
